body{
	font-family: cursive;
    font-size:15px/1.5 Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    background-color:#f4F4f4;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}
 
header{
	background:#35424a;
	color:#ffffff;
	padding-top:30px;
	min-height:70px;
	border-bottom:#e9491d 3px solid;
}

header a{
	color:#ffffff;
	text-decoration:none;
	text-transform: uppercase;
	font-size:16px;
}

header ul{
	margin:0;
	padding:0;
}
.button_1{
	height: 25px;
	background: #e8491d;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #ffffff;
}
.dark{
	padding: 15px;
	background: #35424a;
	color:#ffffff;
	margin-top: 10px;
	margin-bottom: 10px;
}
header li{
	float:left;
	display:inline;
	padding: 0 20px 0 20px;
}

header #branding{
	float:left;
}

header #branding h1{
	margin:0;
}

header nav{
	float:right;
	margin-top:10px;
}

header .highlight, header .current a{
	color:#e8491d;
	font-weight:bold;
}
section .ditect a{
	background: #f4F4f4;
	font-weight:bold;
}
header a:hover{
	color:#cccccc;
	font-weight:bold;
}
.menu{
	background: #ccc;
}
.menu ul{
	text-transform: uppercase;	
	text-align: center;
    margin: 0;
    padding: 0;
}
.menu li{
	display: inline;
}
.menu a{
	color: #e8491d;
	text-decoration: none;
	font-weight: bold;
	padding: 0 20px 0 20px;
}
.menu a:hover{
	background: linear-gradient(#DF3A01, white );
}

#showcase{
	min-height: 400px;
	background:url('https://images.unsplash.com/photo-1483389127117-b6a2102724ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60')no-repeat center center fixed;
	-webkit-background-size:cover;
	text-align: center;
	color: #ffffff;
}
#showcase h1{
	margin-top:100px;
	font-size:55px;
	margin-bottom:10px;
	color:#ccc;
}
#showcase p{
	font-size: 50px;
	text-shadow:5px 5px 9px #FF4000;
	color:#CED8F6;
	font-family: fantasy;
}
#newsletter{
	padding:15px;
	color:#ffffff;
	background:#35424A;
}
#newsletter h1{
	float:left;
	color: #ccc;
}
#newsletter form{
	float:right;
	margin-top: 15px;
}
#newsletter input[type="email"]{
	padding:4px;
	height: 25px;
	width: 250px;
}
#boxes{
	margin-top:20px;
}
#boxes .box{
	float:left;
	text-align: center;
	width: 30%;
	padding: 10px;
}
#boxes .box img{
	width: 200px;
}

aside#sidebar{
	float: right;
	width: 30%;
	margin-top: 10px;
}
article#main-col{
	float:left;
	width:65%;
}
footer{
	padding:20px;
	margin-top: 20px;
	color:#ffffff;
	background-color: #e8491d;
	text-align:center;
}
footer ul{
	display:flex;
	position: absolute;
    right: 0;
}
footer ul li{
	list-style: none;  
}
footer ul li a{
	color: #e8491d;
	height: 40px;
	width: 42px;
	
	background-position: center;
	text-align: center;
	line-height: 80px;
	font-size: 37px;
	margin:0 5px;
	display:block;
	border-radius: 50%;
	padding:1px;
}
.F a{
	background: #5858FA;
	color: white;
}
.Y a{
	background: red;
	color: white;
}
.I a{
	background: linear-gradient(#3300FF, #9900ff, #FF6666, #FF9900);
    color:white; 
}
.text{
	font-size: 20;
}
aside#sidebar .quote input, aside#sidebar .quote textarea{
	width:90%;
	padding:5px;
}
.content img{
	display: block;
	margin: 0 auto;
	padding:20px;
}
.content p{
	text-align: center;
	padding: 0 20%;
}
video{
	width: 30%;
	padding: 20px;
	display: block;
	margin: 0 auto;
}
.hcj ul{
	margin: 0px;
	width: 140px;
	height: 80px;
	list-style: none;
	background: #ccc;
}
.hcj a{
	text-decoration: none;
	color: #35424A;
}
a{
	color:white;
	
}
.gohome{
	position: fixed;
	width: 30px;
	height: 30px;
	background: #ccc;
	bottom: 80px;
	right: 10px;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	font-size: 22px;
}